*{
    margin:0;
    padding: 0;
}

.wrapper{
    display: flex;
    width:100%;
}

header {
    height: 100px;
    width: 100%;
    background-color: aqua;
    background-image: url("./images/787safetycropped.jpg");
    background-size: cover;
    font-family: cursive;
}

nav ul {
    display: flex;
    margin: 0 auto;
    width: 300px;
}
 li{
     float:left;
     padding: 0 10px;
     width: 100px;
 }

ul, 
li {
    list-style: none;
}

.login{
    display: flex;
    flex-direction: column;
}

.content {
    min-height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

footer {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
}